@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  .table_wrap {
    table {
      width: 40%;
      thead {
        width: 100%;
        tr {
          td {
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
      tbody{
        tr{
          td{
            font-size: 14px;
            font-weight: 300;
          }
        }
      }
    }
  }
}
td + td {
  padding-left: 15px;
  // border: 1px solid black;
}
.order_name{
  display: inline-block;
  width: 100px;
}
.id_number{
  
    .select{
      
      select{
        width: 40px;
      }
    }
  
}
.table_wrap_header_item{
  display: flex;
  flex-direction: column;   
}

.select {
  position: relative;
  display: inline-block;
}
.select:after {
  content: "▼";
  padding: 0 8px;
  font-size: 12px;
  position: absolute;
  right: 12px;
  top: 4px;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
}
select {
  padding-right: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-bottom: 1px solid black;
  background-color: inherit;
}
.space{
  height: 14px;
  border-bottom: 1px solid black;
}
