@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
}
.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  .table_wrap {
   
    table {
      border-collapse: collapse;
      width: 40%;
      thead {
        width: 100%;
        tr {
          td {
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
      tbody{
        tr{
          td{
            font-size: 14px;
            font-weight: 300;
          }
        }
      }
    }
  }
}
td + td {
  padding-left: 15px;
  // border: 1px solid black;
}
.order_name{
  display: inline-block;
  width: 100px;
}
.id_number{
  
    .select{
      
      select{
        width: 40px;
      }
    }
  
}
.table_wrap_header_item{
  display: flex;
  flex-direction: column;   
}

.select {
  position: relative;
  display: inline-block;
}
.select:after {
  content: "▼";
  padding-left: calc(100% - 8px);
  font-size: 12px;
  position: absolute;
  right: 12px;
  top: 4px;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-bottom: 1px solid black;
  background-color: inherit;
}
.space{
  height: 14px;
  border-bottom: 1px solid black;
}
.status{
.select{
  position: relative;
  display: inline-block;
  select{
    width: 46px
  }
}
};
.product{
  .select{
    select{
      width: 41px
    }
  }
};
.id_number{
  .select{
    select{
      width: 21px
    }
  }
};
.product_name{
 
  .select{
    select{
      width: 85px
    }
  }
 .space{
  width: 85px;
 }
}
.space{
  height: 17px;
 
}
.hover{
  background-color: lightgray;
}
.row_select{
  background-color:gray ;
  // outline-width: ;
}
// .row_wrap{
//   &:hover{
//     background-color: lightgray;
//   }
// }
.hover_border{
  height: 19.5px;
  width: 8px;
  background-color: #515151;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.delete{
  cursor: pointer;
}
.buttons_wrap{
  display: flex;
  flex-direction: column;
 
  
   
   
   
    span{
       padding: 2px;
       font-size: 6px;
       border: 1px solid black;
       border-radius: 3px;
    }
  
  span+span{
    margin-top: 5px;
  }
}
.table_offset{
  margin-right: 15px;
}